.formControl{
    width: 90%;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 50px;
    align-items: center;
    margin-bottom: 50px;
}

label{
    color: white;
    font-size: 1.3rem;
}

input{
    padding: 8px;
    font-size: 1.3rem;
    width: 100%;
}

.values{
    margin-bottom: 30px;
}

.height{
    max-width: 150px;
    margin-left: 10px;
    margin-right: 10px;
}

.weight{
    max-width: 150px;
    margin-left: 10px;
}

button{
    width: 250px;
    text-align: center;
    padding: 8px;
    background-color: rgb(208, 95, 24);
    border: transparent;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.classes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    justify-items: center;
}

.caixas{
    width: 100px;
    height: 65px;
    background-color: rgb(121, 121, 121);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.baixo.active{
    background-color: brown;
}

.normal.active{
    background-color: rgb(13, 165, 15);
}

.sobre.active{
    background-color: rgb(202, 51, 51);
}

.pre.active{
    background-color: rgb(173, 22, 22);
}

.ob1.active{
    background-color: rgb(201, 129, 22);
}

.ob2.active{
    background-color: rgb(165, 42, 128);
}